.table{
    width: 100%;
    border-collapse: collapse;
}

.table > thead{
    background-color: #EAE7D4;
}

thead > tr > th{
    border: #152C2F solid 1px;
    padding: 5px;
}

tbody > tr > td{
    padding: 2px;
    border: #152C2F solid 1px;
}